.tutors-main {
    padding: 0 20px; ;
    display: flex;
    gap: 24px;
}

@media(max-width:1024px) {
    .tutors-main {
        gap: 20px;
    }
}

@media(max-width:640px) {
    .swiper-pagination-bullet {
        background-color: #a855f7 !important;
        /* purple-500 */
        opacity: 0.5;
        transition: all 0.3s ease;
    }

    .swiper-pagination-bullet-active {
        background-color: #7e22ce !important;
        /* purple-700 */
        opacity: 1;
        transform: scale(1.2);
    }

    .tutors-main {
        display: none;
    }

    /*
    .tutors-main>div {
        height: fit-content;
        border: solid 2px #f3e8ff;
    }

    
    .tutors-main::-webkit-scrollbar {
        height: 5px;
    }

    .tutors-main::-webkit-scrollbar-track {
        background: #f3e8ff;
        border-radius: 999px;
    }

    .tutors-main::-webkit-scrollbar-thumb {
        background: #9333ea;
        border-radius: 999px;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }

    .tutors-main::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    .tutors-main.hide-until-hover {
        scrollbar-width: none;

    }

    .tutors-main.hide-until-hover::-webkit-scrollbar {
        height: 0;
    }

    .tutors-main.hide-until-hover:hover {
        scrollbar-width: thin;
    }

    .tutors-main.hide-until-hover:hover::-webkit-scrollbar {
        height: 8px;
    } */


}